<% @attractions.each do |a| %>
<ul>
    <li><%= link_to "Go on #{a.name}", attraction_path(a) if !current_user.admin %></li><br>
        <%= link_to "Show #{a.name}", attraction_path(a) if current_user.admin %><br>
</ul>
<% end %><br><br>

<% if current_user.admin %>
    <%= link_to "New Attraction", new_attraction_path %><br>
<% end %>